
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    margin: 15px;
}

button {
    padding: 5px 10px;
    background-color: darkgreen;
    color:white;
    border-radius: 6px;
}

section.filters{

   background-color: aquamarine;
   border-top: 1px solid darkolivegreen;

   padding: 20px;

}

section.filters input{
    margin-left: 15px;
}

section.filters article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.filters .searchInput{
    padding: 5px;
}

section.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
}

section.grid article {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: .7em;
    
    border: 1px solid gray;
}


div.popup{
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.618);

    position: absolute;
    top:0;
    left: 0;

    display: none;
    cursor:pointer;
}

div.popup.open{
    display: flex;
    justify-content: center;
    align-items: center;
}